.search {
    display: flex;
    flex-direction: column;
  }
  
  .search > h2 {
    margin-left: 20px;
  }
  
  .search > input {
    width: 100px;
    margin: 20px;
    padding: 10px;
    border-radius: 999px;
    border: 1px solid lightgray;
    outline-width: 0;
  }
  
